// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 960px;
  margin: 0 auto;
}

canvas {
  padding-left: 25%;
}
