<!--
<div class="scorebox">
<h2>HIGHSCORES</h2>
<% @allhighscores.each do |scorelist| %>
<div class="scorelist">
<%if scorelist.user.present? %>
<p>
  User:
<%= scorelist.user.username%>
  =>
  Score:
<%= scorelist.score %>
</p>
</div>
<% end %>
<% end %>
</div> -->
