  <h1>Instructions</h1>
  <div class="instructions">
  <p class="question">How to Set Up</p>
  <p>
    1. Sign up for an account.
    <br></br>
    2. At this point you will be redirected to login.
    <br></br>
    3. After you have logged in, start playing!
   </p>
  <p class="question">Rules of the Game</p>
  <p>
    You play as the <span class="salmon">salmon</span> coloured circle. Your aim is to collect the <span class="gold">gold</span> circles to accumulate points whilst avoiding the <span class="lime">lime</span> coloured circles. As you accumulate more points you will be able to move faster however enemies will also move faster and at intervals dictated by point collection additional enemies will be added to the game!
    <br></br>
    A user account will log your high score as seen below the game board and will only update if you have beaten your previous high score. At the very bottom of the game board screen there is a high score board that keeps track of the top 5 scores accross all accounts. The goal is to be at the top of the leaderboard.
   </p>
   <p class="question">How to Play/ Controls</p>
   <p>
     The p key is used to start the game in the beggining, also after death and also acts as a pause button during mid game. the character is moved using the directional keys on the keyboard allowing the player to move horizontally, vertically and also diagonally.
    </p>
    <p class="question">Further Questions</p>
    <p>
      For any further questions feel free to contact me at:<br></br>
       thomas.ulman@gmail.com
     </p>
</div>
