// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;
  background-color: black;
  color: salmon;
}

a {
  color: salmon;
}
nav {
  padding: 20px;
}

.question {
  color: salmon;
}

p {
  color:white;
}

.instructions {
margin-left: 20%;
margin-right: 20%;
}
.salmon {
  color:salmon;
}

.lime {
  color:lime;

}
.gold {
  color:gold;
}

.userscore {
  border: 1px solid salmon;

    width: 600px;
    margin: 0 auto;
}

.scorelist {
  color: #95EA3E;
  line-height: 20px;
}

.scorebox {
border: 1px solid salmon;

height: 300px;
  width: 600px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#aunid {
  margin: 0 auto;
  width: 600px;
  border: 1px solid salmon;
}
